* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar {
  box-shadow: 8px 8px 53px -26px rgba(66, 68, 90, 1);
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  /* border: 2px solid #333029; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #505739;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.CardZone {
  margin-top: 10px;
  box-shadow: 8px 8px 53px -26px rgba(66, 68, 90, 1);
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  /* border: 2px solid #333029; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #505739;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.counter h3 {
  margin-right: 10px;
}

